<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.cqu.bysj.rfidcar.mapper.LimitMapper">
    <update id="edit" parameterType="com.edu.cqu.bysj.rfidcar.model.CarLimit">
        UPDATE car_limit SET
        start_time = #{start_time, jdbcType=VARCHAR},
        end_time = #{end_time, jdbcType=VARCHAR},
        area = #{area, jdbcType=DATE},
        car_limit_type = #{car_limit_type}
        where id=#{id}
    </update>
    <delete id="delete"  parameterType="java.lang.Integer">
        delete from car_limit where id = #{id}
    </delete>

    <insert id="add" parameterType="com.edu.cqu.bysj.rfidcar.model.CarLimit">
        INSERT INTO car_limit ( start_time,end_time,area,car_limit_type)
        VALUES (#{start_time, jdbcType=VARCHAR},#{end_time},#{area},#{car_limit_type})
    </insert>

    <select id="listAll" resultType="com.edu.cqu.bysj.rfidcar.model.CarLimit">
        select * from car_limit
    </select>
    <!--翻页-->
    <select id="listPages" resultType="com.edu.cqu.bysj.rfidcar.model.CarLimit">
        select
        id,start_time,end_time,area,car_limit_type
        from car_limit
        order by id asc
    </select>
    <select id="getById" resultType="com.edu.cqu.bysj.rfidcar.model.CarLimit">
        select * from car_limit where id = #{id}
    </select>
</mapper>