<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <meta charset="utf-8">
    <title  th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style type="text/css">
        body {
            background:url(../images/bg.jpg) top center no-repeat;
            background-size:cover;
        }
    </style>
</head>
<body th:fragment="adminNav">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">基于RFID电子车牌的轨迹跟踪系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/admin/carinfo}">车辆信息查询</a></li>
                <li><a th:href="@{/admin/record}" >查询所有记录</a></li>
                <li><a th:href="@{/admin/userInfoSearch}" >用户信息查询</a></li>
                <li><a th:href="@{/admin/limit/pages}">车辆限行操作</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        车辆轨迹
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/HistoryTraceByRfidID}" >车辆历史轨迹</a></li>
                        <li><a th:href="@{/admin/TraceTrackSearchByRfidId}" >车辆实时轨迹</a></li>
                        <li><a th:href="@{/admin/historyTraceInfoSearch}" >车辆历史轨迹信息</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right" style="float: right;background-color: white">
            <span class="l">用户：
               <strong class="font-bold" th:text="${session.user.getUsername()}">username</strong>
            </span>
            <span class="r"><a th:href="@{/login}" target="_top">注销</a></span>
        </div>

    </div>
</nav>
</body>
</html>