<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>carinfo</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="userIndex::userNav"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!--<form class="form-search" action="@{admin/findCarInfoByCarType}">-->
            <!--<input class="input-medium search-query" type="text"  placeholder="通过车辆类型查询"/> <button type="submit" class="btn">查找</button>-->
            <!--</form>-->
            <!--<form class="form-search" action="@{admin/findCarInfoByTime}">-->
            <!--<input class="input-medium search-query" type="time"  placeholder="通过时间段查询" name=""/> <button type="submit" class="btn">查找</button>-->
            <!--</form>-->
            <table class="table">
                <thead>
                <tr>
                    <th>
                        rfid_id
                    </th>
                    <!--<th>-->
                    <!--rfid ip-->
                    <!--</th>-->
                    <th>
                        username
                    </th>
                    <th>
                        访问时间
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record:${recordList.list}">
                    <td th:text="${record.rfid_id}"></td>
                    <!--<td th:text="${recordList.rfid_ip}"></td>-->
                    <td th:text="${record.username}"></td>
                    <td th:text="${record.visit_time}"></td>
                </tr>
                </tbody>
            </table>
            <p>当前 <span th:text="${recordList.pageNum}"></span> 页,总 <span th:text="${recordList.pages}"></span> 页,共 <span th:text="${recordList.total}"></span> 条记录</p>
            <a th:href="@{/user/record}">首页</a>
            <a th:href="@{/user/record(pageNum=${recordList.hasPreviousPage}?${recordList.prePage}:1)}">上一页</a>
            <a th:href="@{/user/record(pageNum=${recordList.hasNextPage}?${recordList.nextPage}:${recordList.pages})}">下一页</a>
            <a th:href="@{/user/record(pageNum=${recordList.pages})}">尾页</a>
            <a class="btn btn-sm btn-white btn-block" th:href="@{/user/index}" href="userIndex.html">返回主页</a>
        </div>
    </div>
</div>
</body>
</html>